<img src="logo.avif" alt="Logo">
<h1>Clínica Veterinaria Pet Care</h1>
<button class="hamburger" [class.active]="isOpen" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
</button>

<!-- Sidebar -->
<nav class="sidebar" [class.open]="isOpen">
    <button type="button" class="btn btn-outline-light btn-cerrar" (click)="toggleMenu()">X</button>
    <a routerLink="/" routerLinkActive="active">Inicio</a>
    <a routerLink="pacientes" routerLinkActive="active">Mascotas</a>
    <a routerLink="citas" routerLinkActive="active">Citas</a>
</nav>