<nav class="navBar">
    <div class="navBar-logo">
        <img src="logo.avif" alt="Logo">
        <h1>Clínica Veterinaria Pet Care</h1>
    </div>
    <div class="navBar-links">
        <a routerLink="/" routerLinkActive="active">Inicio</a>
        <a routerLink="mascotas" routerLinkActive="active">Mascotas</a>
        <a routerLink="duenos" routerLinkActive="active">Dueños</a>
        <a routerLink="citas" routerLinkActive="active">Citas</a>
    </div>
    <div class="navBar-footer">
        <span *ngIf="usuario" class="navBar-usuario">{{ usuario }}</span>
        <button class="btn-logout" (click)="cerrarSesion()">Cerrar sesión</button>
    </div>
</nav>